.custom-header {
    --background: linear-gradient(90deg, #006400, #32cd32);
    /* dark green → light green */
    --color: white;
    /* text color */
    text-align: center;
}


.search-bar {
    margin-bottom: 10px;
    margin-top: 10px;

}

ion-title {
    font-weight: bold;

}